<p appFundoAmarelo >
  Texto com fundo amarelo!
</p>

<button appFundoAmarelo>Botão com fundo amarelo</button>

<p highlightMouse >
  Texto com highlight quando passo o mouse.
</p>

<!-- <p highlight [defaultColor]="'grey'" [highlightColor]="'red'">
  Texto com highlight com cores customizadas
</p> -->

<p [highlight]="'red'" [defaultColor]="'grey'" >
  Texto com highlight com cores customizadas
</p>

<h1>Diretiva Estrutura customizada - ngElse</h1>

<div *ngIf="mostrarCursos">
  Lista cursos aqui
</div>
<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados.
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
<br><br>
<!-- Uma outra forma de se utilizar as diretivas -->
<ng-template [ngIf]="mostrarCursos">
  <div >
    Lista cursos aqui
  </div>
</ng-template>
<ng-template [ngElse]="mostrarCursos">
  <div >
    Não existem cursos para serem listados.
  </div>
</ng-template>
<br><br>

<h2>ngIf com else nativo</h2>
<div *ngIf="mostrarCursos; else blocoElse">
  Lista cursos aqui
</div>
<ng-template #blocoElse>
    Não existem cursos para serem listados.
</ng-template>
