<h2>*ngIf</h2>

<div *ngIf="cursos.length > 0">
  Lista cursos aqui
</div>
<div *ngIf="cursos.lenght == 0">
  Não existem cursos para serem listados.
</div>

<div *ngIf="mostrarCursos">
  Lista cursos aqui
</div>
<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados.
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h2>Hidden como alternativa</h2>

<div [hidden]="!mostrarCursos">
  Lista cursos aqui
</div>
<div [hidden]="mostrarCursos">
  Não existem cursos para serem listados.
</div>